[Unit]
Description=BTurnTable service
After=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/btt
StandardOutput=inherit
StandardError=inherit


[Install]
WantedBy=multi-user.target